<div class="container mt-5">
    <div class="row mt-5">
        <div class="col align-self-center text-center h-50 d-inline-block">
            <div class="card d-inline-block" style="width: 100%;">
                <form >
                    <div class="card-header mb-3">
                        <h3 class="text-start p-3 text-primary">Katılım Formu</h3>
                    </div>

                    <!-- Subscriber Name Input -->
                    <div class="row mb-2 px-3 d-flex text-start">
                        <label for="subscriberName" class="col-2 col-form-label">Ad</label>
                        <div class="col-10">
                            <input type="text" id="subscriberName" formControlName="subscriberName" class="form-control"
                                style="max-width: 58%;" />
                        </div>
                    </div>

                    <!-- Subscriber Surname Input -->
                    <div class="row mb-2 px-3 d-flex text-start">
                        <label for="subscriberSurname" class="col-2 col-form-label">Soyad</label>
                        <div class="col-10">
                            <input type="text" id="subscriberSurname" formControlName="subscriberSurname"
                                class="form-control" style="max-width: 58%;" />
                        </div>
                    </div>

                    <!-- Email Input -->
                    <div class="row mb-2 px-3 d-flex text-start">
                        <label for="email" class="col-2 col-form-label">Email</label>
                        <div class="col-10">
                            <input type="email" id="email" formControlName="subscriberMail" class="form-control"
                                style="max-width: 58%;" />
                        </div>
                    </div>

                    <!-- Radio Buttons: Katılıyorum -->
                    <div class="form-check text-start mx-3">
                        <input class="form-check-input" type="radio" id="katiliyorum" formControlName="attendanceStatus"
                            value="0" />
                        <label class="form-check-label" for="katiliyorum">Katılıyorum</label>
                    </div>

                    <!-- Radio Buttons: Emin Değilim -->
                    <div class="form-check text-start mx-3">
                        <input class="form-check-input" type="radio" id="eminDegilim" formControlName="attendanceStatus"
                            value="1" />
                        <label class="form-check-label" for="eminDegilim">Emin Değilim</label>
                    </div>

                    <div class="text-start p-3">
                        <button type="submit" class="btn btn-success form-control w-25">Buyruğumdur</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>