<div class="d-flex flex-column justify-content-center align-items-center min-vh-100 bg-light text-center">
    <div class="container">
        <h1 class="text-primary display-3">Uygulamamız Hakkında</h1>
        <p class="text-muted fs-4">
            Bu uygulama, etkinliklere katılımı kolaylaştırır. Kullanıcılar, farklı etkinliklere katılabilir,
            katılımlarını onaylayabilir ve diğer katılımcılarla etkileşimde bulunabilir.
        </p>
        <p class="text-muted fs-5">
            Etkinliklerinizi yönetmek, katılmak ve bilgi almak için hemen başlamak için aşağıdaki butona tıklayın.
        </p>
    </div>
</div>