<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Brand/Logo -->
        <a class="navbar-brand" href="#">SmartCertify</a>

        <!-- Toggler for responsive design -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/activity']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/videos']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Videos</a>
                </li>
                <!-- About and Contact -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="active">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>